/*  blue color */

body {
    margin: 0;
    padding: 0;
}

.column {
    float: left;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    /* background: #f1f1f1; */
    /* background: #2a2b30; */
    background: #1c1d22;
    z-index: 2;
}

.content {
    position: absolute;
    left: 16%;
    width: 84%;
    height: 100%;
    background: #2a2b30;
    z-index: 1;
}

.website-logo {
    position: relative;
    width: 80%;
    margin: 15px auto 0 auto;
}

.menu {
    position: absolute;
    top: 90px;
    margin: 25px;
}

.menu a {
    text-decoration: none;
    display: block;
    color: #fecea8;
    margin-left: 10%;
    font-family: montserrat;
    font-weight: 400;
    font-size: 1.2em;
    margin-left: 5px;
    padding: 3px 0 2px 0;
}

.menu a:hover {
    color: #f9cdae;
}

.logo path {
    fill: white;
}